config SHIELD_KABOBA_LEFT
  def_bool $(shields_list_contains, kaboba_left)

config SHIELD_KABOBA_RIGHT
  def_bool $(shields_list_contains, kaboba_right)

config SHIELD_KABOBA_DONGLE
  def_bool $(shields_list_contains, kaboba_dongle)
